<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projeto_ds2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_escola_shadow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_escola_shadow"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projeto_DS2">
        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <activity
            android:name=".AdicionarAvisoActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MensagensActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvisoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>